body {
    background-color: #666262;
}

html {
    scroll-behavior: smooth;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}


.header {  
    background-image: var(--gradient);
    height:80px;
    width: 100%;
}


.header_dentro{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    
}


.container{
    height: 100%;
    display: table;
    float: left;
}

.container h1{
    color:white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: 200;
}

.container h1 span{
    font-weight: 1000;
}


.nav{
    float: right;
    height: 100%;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: aliceblue;
}


.nav a:last-child{
    padding-right: 0px;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    
}


.intro {
    display: inline-block;
    margin: 10px;
    color: black;
    font-family: 'Chivo Mono', monospace;
    height: auto;
    border-radius: 7px;
    border: 2px solid white;
    padding: 30px;
    margin: 40px;
    background-color: white;
}

.intro h1{
    padding-bottom: 15px;
}

.intro li{
    padding-bottom: 5px;
}

.telas { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.imagem{
    padding: 20px;
}

:root {
    --gradient: linear-gradient(45deg, rgb(0, 0, 0), #666262, black);
}